<% if detail %>

   <h1><%= product.name  %></h1>
      <% if product.product_image.present?%>
         <figure class = "image">
            <%= image_tag product.product_image%>
         </figure>
      <% end%>
   <p>Model Year: <%= product.model_year%></p>
   <% if product.sale_stat %>
      <p>Regular Price: <%= product.price%></p>
   <% else%>
      <p>Sale Price: <%= product.sale_price%></p>
   <%end%>
   <p>Description: <%= product.description %></p>
<%else%>
   <ul>
      <li><%= link_to product.name, product%></li>
      <% if product.sale_stat %>
         <p>Sale Price: <%= product.sale_price%></p>
      <% else%>
         <p>Regular Price: <%= product.price%></p>
      <%end%>
   </ul>>
<% end %>

    <% if cart.include?(product) %>
      <%= button_to cart_destroy_path(product, qty: "All"), method: :delete do %>
        Remove From Cart
      <% end %>
    <% else %>
      <%= button_to cart_create_path(product), method: :create do%>
      Add To Cart
      <% end %>
    <% end %>
